[Unit]
Description=Minecraft Server
After=network.target
[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/mcs/mc_server
ExecStart=/bin/bash /home/pi/mcs/mc_server/start-minecraft.sh
ExecStop=/bin/bash /home/pi/mcs/mc_server/stop-minecraft.sh
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
